{% extends "./plantilla.html" %}
{% load static %}
{% block body %}

<div class="container">
    <h1 class="text-center">Gestión de Cines con Peticiones Asincronas </h1>    
    <div class="row">
        <div class="col-md-12 text-end">
            <button class="btn btn-success" onclick="cargarCines();">
                <i class="fas fa-refresh"></i>
                Actualizar
            </button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fas fa-plus"></i>
                <b>Agregar Cine</b>
              </button>
        </div>
        <br>
        <div class="col-md-12" id="contenedor-cines"></div>
    </div>
</div>   
<br> 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Cine</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="#" id="frm_nuevo_cine" method="post">
            {% csrf_token %}
            <label for=""><br>Nombre: </label>
            <input type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre de cine" class="form-control">
            <br>
            <label for=""><br>Dirección: </label>
            <input type="text" name="direccion" id="direccion" placeholder="Ingrese la dirección de cine" class="form-control" >
            <br>
            <label for=""><br>Teléfono: </label>
            <input type="text" name="telefono" id="telefono" placeholder="Ingrese el teléfono del cine" class="form-control">
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                    Guardar
                </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i>
                    Cancelar
                </button>
            </div>
          
          </form>
        </div>
      </div>
    </div>
  </div>
<br><br><br><br><br>

<script>
    $(document).ready(function(){
        $("#frm_nuevo_cine").validate({
                rules:{
                    nombre:{
                        required:true
                    },
                    direccion:{
                        required:true
                    },
                    telefono:{
                        required:true,
                    }
                },
                messages:{
                    nombre:{
                        required:"Ingrese el nombre"
                    },
                    direccion:{
                        required:"Ingrese la dirección"
                    },
                    telefono:{
                        required:"Ingrese el teléfono",
                    }
                },
                submitHandler:function(formulario){
                    $.ajax({
                        url:"{% url 'guardarCine' %}",
                        type: 'post',
                        data:$(formulario).serialize(),
                        success:function(data){
                            if(data.estado){
                                Swal.fire({
                                    title:"CONFIRMACIÓN",
                                    text:data.messages,
                                    icon:'success'
                                });
                                $("#exampleModal").modal('hide');
                                $(formulario)[0].reset();
                                cargarCines();
                            }else{
                                alert("Error :(");
                            }
                        },
                        error:function(data){
                            console.log(data);
                        }

                    });

                    return false;
                }
            })
    });

    function cargarCines(){
        $("#contenedor-cines").load('{% url "listadoCines" %}');
    }
    cargarCines();
</script>

{% endblock %}