
<br>
<div>
    <div class="text-center">
        <h3 style="color: white"><b>Listado de Cines</b></h3>
    </div>
</div>
<br>
<table style="margin-left: 25%; width: 50%;" class="table table-striped table-hover" id="tbl-cines">
    <thead>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">DIRECCIÓN</th>
            <th scope="col">TELÉFONO</th>
        </tr>
    </thead>
    <tbody>
        {% for cineTemporal in cines %}
        <tr>
            <td>{{cineTemporal.nombre}}</td>
            <td>{{cineTemporal.direccion}}</td>
            <td>{{cineTemporal.telefono}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>