{% extends "plantilla.html" %}
{% block body %}
<br>
<div class="card">
    <div class="card_title text_center"> 
    <h3> <b>Listado de Peliculas</b></h3>
    </div>
</div>
<br>
<table class="table table-bordered table-stiped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>TITULO</th>
            <th>DURACIÓN</th>
            <th>SINOPSIS</th>
            <th>GENERO</th>
            <th>DIRECTOR</th>
        </tr>
    </thead>
    <tbody>
        {% for peliculaTemporal in peliculas %}
        <tr>
            <td>{{directorTemporal}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}