{% extends "./plantilla.html" %}
{% block body %}
<br><br><br>
<div class="container-fluid">
    <div class="col-md-12">
        <form action="{% url 'guardarGenero' %}" enctype="multipart/form-data" id="frm_nuevo_genero" method="post">
            {% csrf_token %}
            <label for=""><b>Nombre</b></label>
            <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingrese el nombre del genero">
            <label for=""><b>descripción</b></label>
            <textarea name="descripcion" id="descripcion" class="form-control" rows="3" placeholder="Ingrese la descripcion"></textarea>
            <label for=""><b>Fotografia</b></label>
            <input type="file" name="foto" id="foto"
            accept="image/*" required class="form-control">
            <br>
            <button type="submit" class="btn btn_primary">
                Guardar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'listadoGeneros' %}">Cancelar</a>
        </form>
    </div>
</div>
<br><br><br>
<script>
    $("#frm_nuevo_genero").validate(
    {
        rules:{
            nombre:{
                required:true,
                minlength:3,
                maxlenght:10
            },
            descripcion:{
                required:true
            },
            foto:{
                required:true
            }
        },
        messages:{
            nombre:{
                required:" Por favor ingrese el nombre ",
                minlength:" El nombre debe de tener al monos 3 letras ",
                maxlenght: "Maximo 10 caracteres"

            },
            descripcion:{
                required:"Por favor ingrese la descripcion"
            },
            foto:{
                required:"Por favor  elija un archivo"
            } 
        }

    });
 
</script>


{% endblock %}