{% extends "./plantilla.html" %}
{% block body %}
<br><br><br>
<div class="container-fluid">
    <div class="col-md-12">
        <form action="{% url 'guardarDirector' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <label for=""><b>DNI</b></label>
            <input type="number" name="dni" class="form-control" id="dni" placeholder="Ingrese el nombre del genero">
            <label for=""><b>APELLIDO</b></label>
            <input type="text" name="apellido" class="form-control" id="apellido" placeholder="Ingrese el nombre del genero">
            <label for=""><b>NOMBRE</b></label>
            <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingrese el nombre del genero">
            <label for=""><b>ESTADO</b></label>
            <input type="text" name="estado" class="form-control" id="estado" placeholder="Ingrese el nombre del genero">
            <label for=""><b>Fotografia</b></label>
            <input type="file" name="foto" id="foto"
            accept="image/*" required class="form-control">
            <br>
            <button type="submit" class="btn btn_primary">
                Guardar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'listadoDirectores' %}">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}